<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your posts</title>
</head>
<body>
<h1>Quora Posts</h1>
<h2>@<%= post.username %></h2>
<p><%= post.content %></p>
</body>
</html>